<div id = 'blog-body'>
	{{#if blog}}
		<div class = 'feat-img-holder'>
			<div class = 'title-bg'>
				<h1>{{title}}</h1>
			</div>
		</div>
		<p>{{content}}</p>
	</div>
	{{else}}
	<h1>Oops</h1>
	<p>The blog you're looking for cannot be found</p>
	{{/if}}
</div>