<!DOCTYPE html>
<html>
	<head>
		<!-- TODO: Use hbs to change the title of the page depending on where we are-->
		<link rel = "./css/styles.css" type = "stylesheet">
	</head>
	<body>
		<h1>Lauren's Website!</h1>
		{{{body}}}
	</body>
</html>